# Virtual environments
.venv/
venv/
env/
my_env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environment / secrets
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db